<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PushImage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PushImage2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PushTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AD48672B1D8E8E2F005551BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD5B38BE1D8E3578001E1788</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD5B38D21D8E3579001E1788</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD5B38DD1D8E3579001E1788</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADBF37AD1D8E4548005A0C1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
